<div class="abp-advanced-search hide">
    <form id="QuestionsSearchForm" class="form-horizontal">
        <div class="input-group">
            <input type="hidden" name="ExamId" class="form-control txt-search" value="@Context.Request.Query["examId"]" />
        </div>
    </form>
</div>
