<div class="abp-advanced-search hide">
    <form id="AnswersSearchForm" class="form-horizontal">
        <div class="input-group">
            <input type="hidden" name="QuestionId" class="form-control txt-search" value="@Context.Request.Query["questionId"]" />
        </div>
    </form>
</div>
